<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../assets/css/estilos.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <title>Categorias</title>
</head>
<body>
  <form class="form-categorias">
    <h2 class="title-form">Categorias</h2>

    <div class="inputs-section">
      <div class="input-div">
        <input type="number" name="id" required>
        <label class="labelline">ID</label>
      </div>
  
      <div class="input-div">
        <input type="text" name="nombre" required>
        <label class="labelline">Nombre</label>
      </div>
    </div>

    <div class="buttons-section">
      <button class="btn-cancelar">Cancelar</button>
      <button class="btn-guardar">Guardar</button>
    </div>
  </form>

  <h4 class="nombre-creador">@ 2024 Brian Sanchez, Todos los derechos reservados</h4>

  <script src="../../assets/js/validaciones.js"></script>
</body>
</html>